<% if @project.module_enabled?(:vote_on_issues) %>

  <div class="splitcontent">
    <% if authorize_for('vote_on_issues', 'show') %>
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%= l(:view_issues_label_votes) %>:</div>
          <div class="value">
            <div class="vote_on_issues-issue-votes-nowrap">
                <span id="vote_on_issues_nVotesUp"></span><%= image_tag 'arrow-u-r-green.png', :class => 'vote_on_issues-icon-votes', :plugin => 'vote_on_issues' %>
            </div>
            <div class="vote_on_issues-issue-votes-nowrap">
                <span id="vote_on_issues_nVotesDn"></span><%= image_tag 'arrow-d-r-red.png', :class => 'vote_on_issues-icon-votes', :plugin => 'vote_on_issues' %>
            </div>
            
            <% if authorize_for('vote_on_issues', 'view_voters') %>
              <div class="vote_on_issues-issue-votes-nowrap">
                <%= link_to(l(:view_issues_label_voters), {:controller => 'vote_on_issues', :action => 'show_voters', :issue_id => @issue }, remote: true, :id => "vote_on_issues-link-voters", :class => 'vote_on_issues-link-voters', :title => l(:view_issues_show_voters) ) %>
              </div>
              
              <div id="vote_on_issues-issue-voters" style="display:none;">
                <div>
                    <table><tbody><tr>
                      <td><%= l(:view_issues_issue_voters) %></td>
                      <td onClick="vote_on_issues.hideListOfVoters()"><%= image_tag('delete-white.png', :plugin => 'vote_on_issues') %></td>
                    </tr></tbody></table>
                </div>
                <div>
                  <table><tbody id="vote_on_issues-issue-voters-list">
                  </tbody></table>
                </div>
              </div>
            <% end %>
            
            <script>
              vote_on_issues.showVotesOnIssue(<%= VoteOnIssue.getUpVoteCountOnIssue(@issue.id) %>, <%= VoteOnIssue.getDnVoteCountOnIssue(@issue.id) %>);
              vote_on_issues.sImgUp = '<%= image_tag('arrow-u-r-green.png', :plugin => 'vote_on_issues') %>';
              vote_on_issues.sImgDn = '<%= image_tag('arrow-d-r-red.png', :plugin => 'vote_on_issues') %>';
            </script>
          </div>
        </div>
      </div>
    <% end %>
  
    <% if authorize_for('vote_on_issues', 'create') %>
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%= l(:view_issues_my_vote) %>:</div>
          <div class="value">
            <div class="vote_on_issues-issue-votes-nowrap">
              <span id="vote_on_issues_MyVoteNil">&ndash;</span>
              <%= image_tag('arrow-u-r-green.png', :id => 'vote_on_issues_MyVoteUpOn', :style => 'display:none', :class => 'vote_on_issues-icon-vote', :plugin => 'vote_on_issues') %> 
              <%= image_tag('arrow-d-r-red.png',   :id => 'vote_on_issues_MyVoteDnOn', :style => 'display:none', :class => 'vote_on_issues-icon-vote', :plugin => 'vote_on_issues') %> 
            </div>
            
            <div class="vote_on_issues-issue-votes-nowrap">
              <span class="vote_on_issues-my-vote-opt">&nbsp;&nbsp;<%= l(:view_issues_my_vote_opt) %>:</span>
              <%= link_to(image_tag('arrow-u-r-blank.png', :id => 'vote_on_issues_MyVoteUpOff', :style => 'display:none', :class => 'vote_on_issues-icon-vote', :plugin => 'vote_on_issues'), vote_on_issue_path(issue_id: @issue, vote_val: 'vup'), remote: true, method: :post, :class => 'vote_on_issues-icon-vote', :title => l(:view_issues_my_vote_opt_up) ) %> 
              <%= link_to(image_tag('arrow-d-r-blank.png', :id => 'vote_on_issues_MyVoteDnOff', :style => 'display:none', :class => 'vote_on_issues-icon-vote', :plugin => 'vote_on_issues'), vote_on_issue_path(issue_id: @issue, vote_val: 'vdn'), remote: true, method: :post, :class => 'vote_on_issues-icon-vote', :title => l(:view_issues_my_vote_opt_dn) ) %> 
              <%= link_to(image_tag('delete-black.png', :id => 'vote_on_issues_MyVoteDelete', :style => 'display:none', :class => 'vote_on_issues-icon-vote', :plugin => 'vote_on_issues'), vote_on_issue_path(issue_id: @issue), remote: true, method: :delete, :class => 'vote_on_issues-icon-vote', :title => l(:view_issues_my_vote_opt_nil) ) %> 
            </div>
            
            <script>
              vote_on_issues.showMyVote(<%= VoteOnIssue.getMyVote(@issue) %>);
            </script>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    
<% end %>
